db {
    tcpServerOptions='-tcpAllowOthers -tcpPort 19092 -baseDir /tmp'
    webServerOptions='-webAllowOthers -webPort 19093'

    location='mem:test'
    username='sa'
    password='sa12'
}

sampleInterval=5
monitors = [
    dummy: [
        cmdLinePatterns: ['Jvm.+Collector'],
        jvmArgsPatterns: ['-Dapp']
    ]
]